<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="loyalty" class="Loyalty\Loop\LoyaltyLoop" />
    </loops>

    <forms>
        <form name="loyalty_create" class="Loyalty\Form\LoyaltyCreateForm" />
    </forms>

    <commands>
        <!--
        <command class="MyModule\Command\MySuperCommand" />
        -->
    </commands>


    <services>
        <service id="loyalty_listener" class="Loyalty\EventListeners\LoyaltyListener">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
