<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">

    <fullnamespace>Loyalty\Loyalty</fullnamespace>

    <descriptive locale="en_US">
        <title>Customers loyalty</title>
        <description>
            Improve customer loyalty by offering for each purchase a credit valid on their future orders.
        </description>
    </descriptive>

    <descriptive locale="fr_FR">
        <title>Fidélisation des clients</title>
        <description>
            Fidélisez vos clients en leur offrant à chaque achat un crédit à utiliser sur leurs futures commandes.
        </description>
    </descriptive>

    <languages>
        <language>fr_FR</language>
        <language>en_US</language>
    </languages>

    <version>0.9</version>

    <author>
        <name>Manuel Raynaud, Franck Allimant</name>
        <company>Open Studio, CQFDev</company>
        <email>manu@thelia.net, franck@cqfdev.fr</email>
    </author>

    <type>classic</type>

    <required>
        <module>CreditAccount</module>
    </required>

    <thelia>2.1.0</thelia>

    <stability>beta</stability>
</module>
